<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" href="./todo_style.css">

</head>
<body>

<div id="todo-list">
	<h1>Your To-Do List</h1>
	<input
		v-model="newTodoText"
		v-on:keyup.enter="addItem"
		placeholder="Add a todo"
	>
	<ul>
		<li
			is="todo-item"
			v-for="(todo, index) in todoList"
			v-bind:key="todo.id"
			v-bind:title="todo.title"
			v-on:remove="todoList.splice(index, 1)"
			v-on:move-up="moveUp(index)"
			v-on:move-down="moveDown(index)"
		></li>
	</ul>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

Vue.component('todo-item', {
	template: '\
		<li>\
			{{ title }}\
			<button v-on:click="$emit(\'remove\')">Done</button>\
			<button v-on:click="$emit(\'move-up\')">Up</button>\
			<button v-on:click="$emit(\'move-down\')">Down</button>\
		</li>\
	',
	props: ['title']
})

new Vue({
	el: '#todo-list',
	data: {
		newTodoText: '',
		todoList: [],
		nextToDoId: 1
	},
	methods: {
		addItem: function() {
			this.todoList.push({
				id: this.nextToDoId++,
				title: this.newTodoText
			})
			this.newTodoText = ''
		},
		moveUp: function(index) {
			var temp = this.todoList[index] // store current element
			this.todoList.splice(index, 1, this.todoList[index-1]) // set current index to new element
			this.todoList.splice(index-1, 1, temp) // set previous index to old element
		},
		moveDown: function(index) {
			var temp = this.todoList[index]
			this.todoList.splice(index, 1, this.todoList[index+1])
			this.todoList.splice(index+1, 1, temp)
		}
	}
})

</script>

<!--feature branch
pull request (create and tag stefan as approver)
-->
</html>